<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>B9-Connect</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" content="${_csrf.token}"/>
    <meta name="_csrf_header" content="${_csrf.headerName}"/>
    <link rel="stylesheet" href="/css/chats.css">
    <link rel="stylesheet" href="/css/chat-history.css">
    <link rel="stylesheet" href="/css/chat-extention.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=K2D' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
</head>
<body>
<input id="user" th:value="${user}" style="display:none">
<div id="app">

    <header class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand nav-logo" href="/">
                <img class="logo" src="/img/logo.png" alt="B9-Connect">
            </a>
            <button class="navbar-toggler navbar-light" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarArea" aria-controls="navbarArea" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon text-primary"></span>
            </button>
            <div class="service-name">Chats</div>
            <div class="collapse navbar-collapse" id="navbarArea">
                <ul></ul>
                <ul class="navbar-nav ms-auto align-items-center">
                    <li class="nav-item nav-item-custom" v-if="user.roles.includes('MANAGER')">
                        <a class="nav-link link-hover" href="/management">Management</a>
                    </li>
                    <li class="nav-item nav-item-custom">
                        <a class="nav-link link-hover" href="/services">Services</a>
                    </li>
                    <li class="nav-item nav-item-custom">
                        <a class="nav-link link-hover" href="/chats">Chats</a>
                    </li>
                    <li class="nav-item nav-item-custom">
                        <a class="nav-link link-hover" href="/reports">Reports</a>
                    </li>
                    <li class="nav-item my-cab dropdown">
                        <a class="nav-link nav-user" data-bs-toggle="dropdown" aria-expanded="false"><i
                                class="fas fa-solid fa-circle-user "></i></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" v-on:click="logout">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div class="container-fluid main-container">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card chat-app">
                        <div id="plist" class="people-list">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Search...">
                            </div>
                            <ul class="list-unstyled chat-list mt-2 mb-0 chats-list">
                                <li :class="'clearfix '+getActive(index)" v-for="(chat,index) in chats"
                                    v-on:click="setCurrentChat(chat,index)">
                                    <i class="fas fa-solid fa-circle-exclamation"></i>
                                    <div class="about">
                                        <div class="name">{{ chat.name }}</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="chat">
                            <div class="chat-history" id="chat-history" v-if="currentChat.name!==undefined">
                                <ul class="m-b-0">
                                    <li class="message" v-for="(message,index) in messages" :key="index">
                                        <i style="background-color: rgb(255, 152, 0);">{{ user.name[0] }}</i>
                                        <span>{{ message.user.name }}</span>
                                        <p>{{ message.message }}</p></li>
                                </ul>
                            </div>
                            <div class="chat-message clearfix" v-if="currentChat.name!==undefined">
                                <form v-on:submit="sendMessage">
                                    <div class="input-group mb-0">
                                        <input type="text" v-model="chatMessage" v-on:submit="sendMessage"
                                               class="form-control" placeholder="Enter text here...">
                                        <div class="input-group-prepend" v-on:click="sendMessage">
                                        <span class="input-group-text"><i
                                                class="fas fa-solid fa-paper-plane"></i></span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="/js/chats.js" type="module"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"
        integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</body>
</html>