<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>B9-Connect</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="../static/css/multiselect/style.css">
</head>
<body>
<label for="mult">Multiselect</label>
<select id="mult" name="mult" multiple="multiple">
    <option value="1" selected>Argentina</option>
    <option value="2">Australia</option>
    <option value="3">Brazil</option>
    <option value="4">Canada</option>
    <option value="5" selected>China</option>
    <option value="6">France</option>
    <option value="7">Germany</option>
    <option value="8" selected>India</option>
    <option value="9">Mexico</option>
    <option value="10">Russia</option>
    <option value="11" selected>United States</option>
</select>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="../static/js/multiselect/index.js"></script>
<script>
    var myDrop = new drop({
        selector:  '#mult'
    });
</script>


</body>
</html>